.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.helps {
  width: 32%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  padding: 60px;
}

.logo {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards {
  width: 32%;
}

.help {
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 200px 0 0;
 
}

.price {
    margin: 5px 0;
    font-size: 20px;
    color: white;
}

.big {
  font-weight: 700;
  text-decoration: underline;
}

.is-active {
  color: gold;
}

.white {
  color: white;
  cursor: pointer;
}

.clues {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 15px;
}