.submain {
  max-width: 900px;
  margin: 0 auto;
}

.question {
  color: white;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.answer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  div {
    margin: 10px 0 0 0;
    padding: 20px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    width: 50%;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }
}