.screen {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(0, 0, 0);
  height: 150px;
  position: relative;
}

.num {
  display: flex;
  flex-wrap: wrap;
}

.block {
  border: 1px solid rgba(0, 0, 0, 0.401);
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  &:hover {
    background-color: rgba(128, 128, 128, 0.179);
  }
}

.zero {
  border: 1px solid rgba(0, 0, 0, 0.401);
  width: 50%;
  height: 60px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  &:hover {
    background-color: rgba(128, 128, 128, 0.179);
  }
}


.orange {
  background-color: orange;
  border: 1px solid rgba(0, 0, 0, 0.401);
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 149, 0);
  }
}

.bottom {
  border-bottom-right-radius: 15px;
}

.gray {
  background-color: rgba(128, 128, 128, 0.268);
  &:hover {
    background-color: rgba(128, 128, 128, 0.395);
  }
}

.screen-number {
  position: absolute;
  top: 94px;
  right: 20px;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}