.back {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 15px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.first-random-number {
  text-align: center;
  margin-top: 3px;
}

.second-random-number {
  text-align: center;
  margin-top: 3px;
}